<div class="modal fade" id="ftpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add FTP Destination</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="login">
                    <label>Login</label>
                    <input type="text" class="form-control" placeholder="Tom">
                </div>
                <div class="password">
                    <label>Password</label>
                    <input type="text" class="form-control" placeholder="g85-ra-*e*1g8e">
                </div>
                <div class="hostname">
                    <label>Hostname</label>
                    <input type="text" class="form-control" placeholder="ftp.sssvt.cz">
                </div>
                <div class="dest">
                    <label>Destination</label>
                    <input type="text" class="form-control" placeholder="U:/ftproot/myfolder">
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>
