$bg: #2F50A4;

.application {
    background-color: $bg;
    color: white;
    display: flex;
    flex-direction: row;
    height: 100%;
    .content
    {
        width: 100%;
        button {
            color: white;
        }
        .header
        {
            padding: 15px;
            background-color: darken($bg, 10%);

        }
        .main-content {
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            margin-left: 50px;
            .column1 {
                flex: 0 0 300px;
                .basic {
                    height: 270px;
                    margin: 20px 0px 20px 0px;
                    background-color: #323640;
                    border-radius: 5px;
                    padding: 10px;
                    #name {
                        padding: 5px 0px 5px 0px;
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        width: 220px;
                    }
                    .backup-type {
                        padding: 5px 0px 5px 0px;
                    }
                    .split {
                        padding: 5px 0px 5px 0px;
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        input {
                            width: 100px;
                            margin-inline: 10px;
                        }
                    }
                    .size {
                        padding: 5px 0px 5px 0px;
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        input {
                            width: 100px;
                            margin-inline: 10px;
                        }
                    }
                    .ZIP {
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        input {
                            width: auto;
                            margin-inline: 10px;
                        }
                    }
                }
            input {
                width: 40%;
            }
                .local {
                    display: flex;
                    flex-direction: row;
                    input {
                        margin-left: 10px;
                    }
                }
            }
            .column2 {
                flex: 0 0 300px;
                margin-left: 20px;
            }
            .column3 {
                flex: 0 0 300px;
                margin-left: 20px;
                .save-btn {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 50px;
                }
            }
        }
    }
}