$bg: #2F50A4;

.application {
    background-color: $bg;
    color: white;
    display: flex;
    flex-direction: row;
    height: 100%;
    .content
    {
        width: 100%;
        button {
            color: white;
        }
        .header
        {
            padding: 15px;
            background-color: darken($bg, 10%);

        }
        .main-content {
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            margin-left: 50px;
            .column1 {
                flex: 0 0 300px;
                .name {
                    margin: 0px 10px 10px 0px;
                    background-color: #323640;
                    border-radius: 5px;
                    padding: 10px;
                    input {
                        width: 100%;
                    }
                }
                .other {
                    margin: 0px 10px 10px 0px;
                    background-color: #323640;
                    border-radius: 5px;
                    padding: 10px;
                    .split {
                        padding-top: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        input {
                            width: 50px;
                        }
                    }
                    .size {
                        padding-top: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        input {
                            width: 100px;
                        }
                    }
                    .ZIP {
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        input {
                            width: auto;
                        }
                    }
                }
            input {
                width: 40%;
            }
                .local {
                    display: flex;
                    flex-direction: row;
                    input {
                        margin-left: 10px;
                    }
                }
            }
            .column2 {
                flex: 0 0 300px;
                margin-left: 20px;
            }
            .column3 {
                flex: 0 0 300px;
                margin-left: 20px;
                .schedule {
                    width: 300px;
                    background-color: #323640;
                    border-radius: 5px;
                    height: 260px;
                    p {
                        padding-top: 10px;
                        text-align: center;
                    }
                    .schedule-content {
                        .cron-inp {
                            
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            input {
                                width: 15%;
                            }
                        }
                        .buttons {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            padding-inline: 10px;
                        }
                        .grid {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            padding-top: 10px;
                            .grid-container {
                                padding-left: 10px;
                                display: grid;
                                //row-gap: 10px;
                                column-gap: 30px;
                                grid-template-columns: auto auto;
                            }
                            .btn-group-vertical {
                                flex: 0 0 35px;
                                padding: 10px;
                                padding-top: 0px;
                            }
                        }
                    }
                }
                .save-btn {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 50px;
                }
            }
        }
    }
}