table {
    color: white;
}
input {
    width: 60%;
}
.source {
    margin: 0px 10px 10px 0px;
    background-color: #323640;
    border-radius: 5px;
    padding: 10px;
    .local {
        display: flex;
        flex-direction: row;
    }
}