<div class="dest">
    <label>Destination Path</label>
    <div class="local">
        <input type="text" class="form-control">
        <button class="btn btn-secondary">Add</button>
    </div>
    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ftpModal">FTP</button>

    <div class="table-dest">
        <table class="table align-items-center mb-0">
            <thead>
                <tr>
                    <th>Destinations</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>E\</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Z\backup\</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>
<app-ftp-modal></app-ftp-modal>