<div class="application">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="Header-Bar">
            <h1 class="Header-Text">CloneClown</h1>
        </div>
        <p class="Message">Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit. Proin in 
        tellus sit amet nibh dignissim sagittis.
        Nunc tincidunt ante vitae massa. Duis bibendum, 
        lectus ut viverra rhoncus, dolor nunc faucibus</p>
        <button class="btn btn-secondary" id="Close-btn" routerLink="/logs">Close</button>
    </div>
</div>