<div class="table-responsive" id="table">
    <table class="table align-items-center mb-0">
        <thead>
            <tr>
                <th>Computer</th>
                <th>Used Configuration</th>
                <th>Backup Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>Admins PC</p>
                </td>
                <td>
                    <p>Annual backup 2</p>
                </td>
                <td>
                    <p>22:20 11.02.2022</p>
                </td>
                <td>
                    <p id="success">Success</p>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#readModal">Read</button>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Admins PC</p>
                </td>
                <td>
                    <p>Annual backup</p>
                </td>
                <td>
                    <p>22:20 11.02.2022</p>
                </td>
                <td>
                    <p id="success">Success</p>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#readModal">Read</button>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Admins PC</p>
                </td>
                <td>
                    <p>Annual backup 2</p>
                </td>
                <td>
                    <p>22:20 11.02.2022</p>
                </td>
                <td>
                    <p id="fail">Failure</p>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#readModal">Read</button>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Admins PC</p>
                </td>
                <td>
                    <p>Annual backup 2</p>
                </td>
                <td>
                    <p>22:20 11.02.2022</p>
                </td>
                <td>
                    <p id="success">Success</p>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#readModal">Read</button>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Admins PC</p>
                </td>
                <td>
                    <p>Jerrys backup</p>
                </td>
                <td>
                    <p>22:20 11.02.2022</p>
                </td>
                <td>
                    <p id="fail">Failure</p>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#readModal">Read</button>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Admins PC</p>
                </td>
                <td>
                    <p>Annual backup 5</p>
                </td>
                <td>
                    <p>22:20 11.02.2022</p>
                </td>
                <td>
                    <p id="success">Success</p>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#readModal">Read</button>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-log-read-modal></app-log-read-modal>