<div class="modal fade" id="readModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Admins PC Log (22:20 11.02.2022)</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="Message">Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit. Proin in 
                    tellus sit amet nibh dignissim sagittis.
                    Nunc tincidunt ante vitae massa. Duis bibendum, 
                    lectus ut viverra rhoncus, dolor nunc faucibus</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return</button>
            </div>
        </div>
    </div>
</div>
