<div class="application">
    <div class="header">
        <h1>Verify New Users</h1>
    </div>
    <div class="main-content">
        <div class="table-dest">
            <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Computer</th>
                        <th>OS</th>
                        <th>MAC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>
                            <p>Administrator</p>
                        </td>
                        <td>
                            <p>Windows 10</p>
                        </td>
                        <td>
                            0E:1C:E7:20:47:1C
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>
                            <p>XXX</p>
                        </td>
                        <td>
                            <p>MacOS</p>
                        </td>
                        <td>
                            0E:1C:E7:20:47:1C
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>
                            <p>Foo</p>
                        </td>
                        <td>
                            <p>Linux</p>
                        </td>
                        <td>
                            96:BC:90:8A:6E:7B
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>
                            <p>Bar</p>
                        </td>
                        <td>
                            <p>Windows 10</p>
                        </td>
                        <td>
                            0E:1C:E7:20:47:1C
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>     
        <button class="btn btn-secondary">Select All</button>   
        <div class="save-btn">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary" routerLink="/users/">Cancel</button>
                <button type="button" class="btn btn-secondary" routerLink="/users/">Add</button>
            </div>
        </div>  
    </div>
</div>