table {
    color: white;
}
.PC {
    background-color: #323640;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    height: 300px;
    .table-pc {
        margin-top: 10px;
        height: 200px;
        overflow-y: auto;
    }
    .PC-inp {
        display: flex;
        flex-direction: row;
    }
    input {
        width: 165px;
    }
}
