<div class="PC">
    <label>User</label>
    <div class="PC-inp">
        <input type="text" class="form-control">
        <button class="btn btn-secondary">Add</button>
    </div>
    <div class="table-pc">
        <table class="table align-items-center mb-0">
            <thead>
                <tr>
                    <th>Users</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Admins PC</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Serve1</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>  
</div>