<div class="application">
    <div class="Avatar">
        <img src="http://cdn.onlinewebfonts.com/svg/img_401900.png" class="w3-display-topmiddle w3-container" height="180px;">
    </div>
    <h3 style="font-size: 40px;"> Log in </h3>
    <input type="text" placeholder="Username" class="form-control" id="username">         
    <div class="password">
        <input type="password" placeholder="Password" class="form-control" id="password">
        <button class="btn btn-md btn-default btn-block" id="login" routerLink="/dashboard">Login</button>
    </div>  
    <div class="remember-me">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label" for="flexCheckDefault">Remember me</label>
    </div>
</div>
