<div class="sdbr">
    <div class="sidebar" data-color="purple">
        <div class="sidebar-wrapper">
            <div class="logo">
                <p>CloneClown</p>
            </div>
            <ul class="nav">
                <li><a routerLink="/dashboard">Dashboard</a></li>
                <li><a routerLink="/users">Users</a></li>
                <li><a routerLink="/configs">Configurations</a></li>
                <li><a routerLink="/mails">Mail Notifications</a></li>
                <li><a routerLink="/logs">Logs</a></li>
            </ul>
        </div>
    </div>
</div>