<div class="application">
    <div class="header">
        <h1>Annual backup - FTP</h1>
    </div>
    <div class="main-content">
        <div class="login">
            <label>Login</label>
            <input type="text" class="form-control">
            <p class="hint">ex: Tom</p>
        </div>
        <div class="password">
            <label>Password</label>
            <input type="text" class="form-control">
            <p class="hint">ex: ******</p>
        </div>
        <div class="hostname">
            <label>Hostname</label>
            <input type="text" class="form-control">
            <p class="hint">ex: ftp.sssvt.cz</p>
        </div>
        <div class="dest">
            <label>Destination</label>
            <input type="text" class="form-control">
            <p class="hint">ex: U:/ftproot/myfolder</p>
        </div>
        <div class="save-btn">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary" routerLink="/configs/config-editor">Cancel</button>
                <button type="button" class="btn btn-secondary" routerLink="/configs/config-editor">Add</button>
            </div>
        </div>
    </div>
</div>
