$bg: #2F50A4;

.application
{
    background-color: $bg;
    height: 100%;
    color: white;
    .header
    {
        padding: 15px;
        background-color: darken($bg, 10%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .main-content {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        .hint {
            font-size: 12px;
        }
        .save-btn {
            display: flex;
            justify-content: flex-end;
        }
    }
    
}