$bg: white;

.application {
    display: flex;
    flex-direction: row;
    height: 100%;
    .content
    {
        background-color: darken($bg, 3%);
        width: 100%;
        .header
        {
            padding: 15px;
            background-color: darken($bg, 10%);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h1 {
                margin: 0px;
            }
            h3 {
                margin-bottom: 0px;
            }
            .admin
            {
                display: flex;
                flex-direction: row;
                padding-right: 100px;
                a {
                    text-decoration: none;
                    color: #323640;
                }
                #logout {
                    padding-left: 30px;
                    color: rgb(139, 0, 0);
                }
                
            }
        }
        .main-content {
            padding-left: 15px;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            width: 80%;
            .main-overview {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                #PCs {
                    margin-left: 10px;
                    i {
                        font-size: 32px;
                    }
                }
                .card {
                    width: 250px;
                    height: 250px;
                    margin-right: 50px;
                }
                #info-rect {
                    flex: 0 0 250px;
                    background-color: #323640;
                    border-radius: 5px;
                    padding: 10px;
                    i {
                        font-size: 32px;
                    }
                }
                .Logs {
                    p {
                        margin: 1px;
                    }
                }
            }
        }
    }
}