<div class="application">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="header">
            <h1>Dashboard</h1>
            <div class="admin">
                <h3>Odin</h3>
                <h3 id="logout" routerLink="">Log Out</h3>
            </div>
        </div>
        <div class="main-content">
            <div class="main-overview">
                <div class="card" id="PCs">
                    <div class="card-header ">
                        <i class="fas fa-desktop"></i>
                    <h6>Computers</h6>
                    </div>
                    <div class="card-body ">
                        <p>Online: 36/45</p>                    
                    </div>
                </div>
                <div class="card" id="Configs">
                    <div class="card-header ">
                        <i class="fas fa-gears"></i>
                        <h6>Configurations</h6>
                    </div>
                    <div class="card-body ">
                        <p>Count: 23</p>                    
                    </div>
                </div>
                <div class="card" id="Logs">
                    <div class="card-header ">
                        <i class="fas fa-chart-line"></i>
                        <h6>Logs</h6>
                    </div>
                    <div class="card-body ">
                        <p>Count: 120</p>
                        <p>98 successful - 22 failed</p>            
                    </div>
                </div>
            </div>
            <app-dashboard-errorlog-table></app-dashboard-errorlog-table>
        </div>
    </div>
</div>