<div class="table-responsive" id="table">
    <table class="table align-items-center mb-0">
        <thead>
            <tr>
                <th>Config Name</th>
                <th>Schedule</th>
                <th>Last Used</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>Annual backup</p>
                </td>
                <td>
                    <p> 22:20 11.02.2023</p>
                </td>
                <td>
                    <p> 22:20 11.02.2022</p>
                </td>
                <td>
                    <button class="btn btn-secondary" routerLink="/configs/config-editor">Edit</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Annual backup 2</p>
                </td>
                <td>
                    <p> 22:20 11.02.2023</p>
                </td>
                <td>
                    <p> 22:20 11.02.2022</p>
                </td>
                <td>
                    <button class="btn btn-secondary" routerLink="/configs/config-editor">Edit</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Annual backup 3</p>
                </td>
                <td>
                    <p> 22:20 11.02.2023</p>
                </td>
                <td>
                    <p> 22:20 11.02.2022</p>
                </td>
                <td>
                    <button class="btn btn-secondary" routerLink="/configs/config-editor">Edit</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Annual backup 4</p>
                </td>
                <td>
                    <p> 22:20 11.02.2023</p>
                </td>
                <td>
                    <p> 22:20 11.02.2022</p>
                </td>
                <td>
                    <button class="btn btn-secondary" routerLink="/configs/config-editor">Edit</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Daily backup</p>
                </td>
                <td>
                    <p> 23:30 28.02.2023</p>
                </td>
                <td>
                    <p> 23:30 27.02.2022</p>
                </td>
                <td>
                    <button class="btn btn-secondary" routerLink="/configs/config-editor">Edit</button>
                </td>
            </tr>
                <tr>
                <td>
                    <p>Toms backup</p>
                </td>
                <td>
                    <p></p>
                </td>
                <td>
                    <p> 12:28 17.02.2012</p>
                </td>
                <td>
                    <button class="btn btn-secondary" routerLink="/configs/config-editor">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>