<div class="table-responsive" id="table">
    <table class="table align-items-center mb-0">
        <thead>
            <tr>
                <th>Online</th>
                <th>Computer Name</th>
                <th>MAC Adress</th>
                <th>Last Backup</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="online"></div>
                </td>
                <td>
                    <p>Admins PC</p>
                </td>
                <td>
                    96:bc:90:8a:6e:7b
                </td>
                <td>
                    <p>22:20 11.02.2022</p>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" routerLink="/users/user-editor">Edit</button>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="offline"></div>
                </td>
                <td>
                    <p>Room1 PC</p>
                </td>
                <td>
                    96:bc:90:8a:6e:7b
                </td>
                <td>
                    <p>22:20 11.02.2022</p>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" routerLink="/users/user-editor">Edit</button>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="online"></div>
                </td>
                <td>
                    <p>Server1</p>
                </td>
                <td>
                    96:bc:90:8a:6e:7b
                </td>
                <td>
                    <p>22:20 11.02.2022</p>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" routerLink="/users/user-editor">Edit</button>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="online"></div>
                </td>
                <td>
                    <p>Server2</p>
                </td>
                <td>
                    96:bc:90:8a:6e:7b
                </td>
                <td>
                    <p>22:20 11.02.2022</p>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" routerLink="/users/user-editor">Edit</button>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="offline"></div>
                </td>
                <td>
                    <p>Server3</p>
                </td>
                <td>
                    96:bc:90:8a:6e:7b
                </td>
                <td>
                    <p>22:20 11.02.2022</p>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" routerLink="/users/user-editor">Edit</button>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="offline"></div>
                </td>
                <td>
                    <p>Room2 PC</p>
                </td>
                <td>
                    96:bc:90:8a:6e:7b
                </td>
                <td>
                    <p>22:20 11.02.2022</p>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" routerLink="/users/user-editor">Edit</button>
                        <button type="button" class="btn btn-secondary">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
